.container-fluid {
  background-color: #007bff;
  width: 100%;
  flex-direction: row;
  display: flex;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
}

p {
  color: white;
  padding-top: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
}
